.Home_Wrapper{
    background-color: rgb(13, 207, 236);
    min-height: 100vh;
}
.Card_container{
    margin: auto;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}
.loading{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
    padding-bottom: 30px;
    
}