.home_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.Card_container{
    margin: auto;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}
.end{
    font-size: 1rem;
    color: gray;
    text-align: center;
}
